<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>register</description>
    <display-name>register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet>
    <description>login</description>
    <display-name>login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <description>Logout</description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet>
    <description>AdminLogin</description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet>
    <description>AdminLogout</description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>servlets.AdminLogout</servlet-class>
  </servlet>
  <servlet>
    <description>AddType</description>
    <display-name>AddType</display-name>
    <servlet-name>AddType</servlet-name>
    <servlet-class>servlets.AddType</servlet-class>
  </servlet>
  <servlet>
    <description>DeleteType</description>
    <display-name>DeleteType</display-name>
    <servlet-name>DeleteType</servlet-name>
    <servlet-class>servlets.DeleteType</servlet-class>
  </servlet>
  <servlet>
    <description>ModifyType</description>
    <display-name>ModifyType</display-name>
    <servlet-name>ModifyType</servlet-name>
    <servlet-class>servlets.ModifyType</servlet-class>
  </servlet>
  <servlet>
    <description>AddGoods</description>
    <display-name>AddGoods</display-name>
    <servlet-name>AddGoods</servlet-name>
    <servlet-class>servlets.AddGoods</servlet-class>
  </servlet>
  <servlet>
    <description>ModifyGoods</description>
    <display-name>ModifyGoods</display-name>
    <servlet-name>ModifyGoods</servlet-name>
    <servlet-class>servlets.ModifyGoods</servlet-class>
  </servlet>
  <servlet>
    <description>DeleteGoods</description>
    <display-name>DeleteGoods</display-name>
    <servlet-name>DeleteGoods</servlet-name>
    <servlet-class>servlets.DeleteGoods</servlet-class>
  </servlet>
  <servlet>
    <description>AddAdmin</description>
    <display-name>AddAdmin</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>servlets.AddAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>DeleteAdmin</description>
    <display-name>DeleteAdmin</display-name>
    <servlet-name>DeleteAdmin</servlet-name>
    <servlet-class>servlets.DeleteAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>ModifyAdmin</description>
    <display-name>ModifyAdmin</display-name>
    <servlet-name>ModifyAdmin</servlet-name>
    <servlet-class>servlets.ModifyAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>DeleteUser</description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>servlets.DeleteUser</servlet-class>
  </servlet>
  <servlet>
    <description>AddToCar</description>
    <display-name>AddToCar</display-name>
    <servlet-name>AddToCar</servlet-name>
    <servlet-class>servlets.AddToCar</servlet-class>
  </servlet>
  <servlet>
    <description>DeleteFromCar</description>
    <display-name>DeleteFromCar</display-name>
    <servlet-name>DeleteFromCar</servlet-name>
    <servlet-class>servlets.DeleteFromCar</servlet-class>
  </servlet>
  <servlet>
    <description>AddOrder</description>
    <display-name>AddOrder</display-name>
    <servlet-name>AddOrder</servlet-name>
    <servlet-class>servlets.AddOrder</servlet-class>
  </servlet>
  <servlet>
    <description>DealOrder</description>
    <display-name>DealOrder</display-name>
    <servlet-name>DealOrder</servlet-name>
    <servlet-class>servlets.DealOrder</servlet-class>
  </servlet>
  <servlet>
    <description>ReceiveGoods</description>
    <display-name>ReceiveGoods</display-name>
    <servlet-name>ReceiveGoods</servlet-name>
    <servlet-class>servlets.ReceiveGoods</servlet-class>
  </servlet>
  <servlet>
    <description>DeleteOrder</description>
    <display-name>DeleteOrder</display-name>
    <servlet-name>DeleteOrder</servlet-name>
    <servlet-class>servlets.DeleteOrder</servlet-class>
  </servlet>
  <servlet>
    <description>ModifyNickName</description>
    <display-name>ModifyNickName</display-name>
    <servlet-name>ModifyNickName</servlet-name>
    <servlet-class>servlets.ModifyNickName</servlet-class>
  </servlet>
  <servlet>
    <description>ModifyPassword</description>
    <display-name>ModifyPassword</display-name>
    <servlet-name>ModifyPassword</servlet-name>
    <servlet-class>servlets.ModifyPassword</servlet-class>
  </servlet>
  <servlet>
    <description>SearchByName</description>
    <display-name>SearchByName</display-name>
    <servlet-name>SearchByName</servlet-name>
    <servlet-class>servlets.SearchByName</servlet-class>
  </servlet>





















  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlet/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/servlet/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/servlet/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddType</servlet-name>
    <url-pattern>/servlet/AddType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteType</servlet-name>
    <url-pattern>/servlet/DeleteType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyType</servlet-name>
    <url-pattern>/servlet/ModifyType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGoods</servlet-name>
    <url-pattern>/servlet/AddGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyGoods</servlet-name>
    <url-pattern>/servlet/ModifyGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGoods</servlet-name>
    <url-pattern>/servlet/DeleteGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/servlet/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAdmin</servlet-name>
    <url-pattern>/servlet/DeleteAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyAdmin</servlet-name>
    <url-pattern>/servlet/ModifyAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/servlet/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddToCar</servlet-name>
    <url-pattern>/servlet/AddToCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFromCar</servlet-name>
    <url-pattern>/servlet/DeleteFromCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrder</servlet-name>
    <url-pattern>/servlet/AddOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DealOrder</servlet-name>
    <url-pattern>/servlet/DealOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReceiveGoods</servlet-name>
    <url-pattern>/servlet/ReceiveGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteOrder</servlet-name>
    <url-pattern>/servlet/DeleteOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyNickName</servlet-name>
    <url-pattern>/servlet/ModifyNickName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyPassword</servlet-name>
    <url-pattern>/servlet/ModifyPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchByName</servlet-name>
    <url-pattern>/servlet/SearchByName</url-pattern>
  </servlet-mapping>		
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
